doctype html
html(lang="en")
  head
    title Home
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
    link(href="bower_components/font-awesome/css/font-awesome.min.css", rel="stylesheet")
    link(rel="stylesheet", href="css/style.css")
  body
    .container
      br
      .jumbotron
        center#header
          h1 Home Inventory
          em
            | by 
            a(href="https://babelthuap.github.io/") Nicholas Neumann-Chun
        hr
        each room in rooms
          .row.room(data-mongoid= room._id)
            h3= room.name + ' '
              i.fa.fa-caret-up
            .items
              table.table
                thead
                  th Item
                  th Value
                  th Description
                tbody
                  each item in room.items
                    tr
                      td= item.name 
                      td= '$' + (+item.value).toFixed(2)
                      td= item.description
                  tr
                    td: input.newName(type="text")
                    td: input.newValue(type="text")
                    td: input.newDescription(type="text")
              button.addItem.btn.btn-danger Add Item
        center
          button#addRoom.btn.btn-lg.btn-danger Add New Room
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src="js/main.js")