#header {
  color: white;
}

a {
  color: #d9534f;
}

a:hover {
  color: #d43f3a;
}

.container .jumbotron {
  background-color: #4B40A5;
}

.room {
  border: 1px solid #000;
  border-radius: 6px;
  margin-top: 16px;
  padding: 16px;
  padding-top: 0px;
  background-color: white;
  box-shadow: 4px 4px 3px rgba(0,0,0,0.3);
}

.items {
  margin-left: 16px;
  display: none;
}

h3 {
  cursor: pointer;
}

#addRoom {
  margin-top: 32px;
}